body {
  background-color: black;
  color: white;
}

.display-container {
  display: flex;
}

.text-display {
  width: 300px;
}

.interactive-display {
  flex-grow: 1;
}

.fire-display {
  margin-bottom: 10px;
}
